*{
  margin: 0%;
  padding: 0%;
}

.tableau-style{
  border-collapse: collapse;
  min-width: 400px;
  width: auto;
  box-shadow: 0px 5px 50px rgb(0,0, 0,0.15);
  cursor: pointer;
  margin: 50px auto;
  border: solid 2px rgb(163, 134, 134);
}

th, td{
  padding: 15px 20px ;
}
tbody tr, td, th{
  border: solid 1px #dddddd;
}
thead, tr, th{
  color: red;
}
tbody ,td{
  color: black;
}